Repository layer5io/sistent, pull requests merged in 2023-09, with the labels that each got.

#69 [components] update exports
  packages/components/src/index.tsx
Labels: component/components

#70 [svg] manual release `v0.6.0`
  packages/svg/package.json
Labels: component/icons

#78 [svg] grouped `remove` icons and added `svg` file for `remove`
  packages/svg/src/icons/Remove/RemoveDoneIcon.tsx
  packages/svg/src/icons/Remove/RemoveIcon.tsx
  packages/svg/src/icons/Remove/index.ts
  packages/svg/src/icons/Remove/remove.svg
  packages/svg/src/icons/index.ts
Labels: component/icons

#85 [components] created `searchbar` and `tooltip`
  packages/components/.eslintrc.cjs
  packages/components/src/base/Accordion/accordion.tsx
  packages/components/src/base/Accordion/accordionactions.tsx
  packages/components/src/base/Accordion/accordiondetails.tsx
  packages/components/src/base/Accordion/accordionsummary.tsx
  packages/components/src/base/Accordion/index.tsx
  packages/components/src/custom/SearchBar.tsx
  packages/components/src/custom/Tooltip.tsx
  packages/components/src/custom/index.ts
  packages/components/src/index.tsx
  packages/components/src/inputadornment.tsx
  packages/components/src/textfield.tsx
  packages/design-system/package.json
  packages/design-system/src/stories/SearchBar.stories.jsx
  packages/design-system/src/stories/Tooltip.stories.jsx
Labels: component/components, framework/storyboard

#98 [Component] Added Components for error boundaries
  packages/components/package.json
  packages/components/src/custom/ErrorBoundary.tsx
  packages/components/src/custom/index.ts
Labels: component/components

#108 Update release.yml
  .github/workflows/release.yml
Labels: area/ci

#109 chore: Update release.yml
  .github/workflows/release.yml
Labels: area/ci

#110 Update release.yml
  .github/workflows/release.yml
Labels: area/ci

#111 Update release.yml
  .github/workflows/release.yml
Labels: area/ci
