Repository layer5io/sistent, pull requests merged in 2024-02, with the labels that each got.

#436 feat(components): Create TypingFilter component
  packages/components/src/custom/TypingFilter/TypingFIlterInput.tsx
  packages/components/src/custom/TypingFilter/TypingFIlters.tsx
  packages/components/src/custom/TypingFilter/TypingFilterSuggestions.tsx
  packages/components/src/custom/TypingFilter/index.tsx
  packages/components/src/utils/typing.state.tsx
  packages/components/src/utils/typing.utils.ts
Labels: pr/do-not-merge, pr/draft, component/components, v0.14.0-planning

#468 Added RJSF schemas
  packages/components/src/schemas/createAndEditEnvironment/schema.tsx
  packages/components/src/schemas/createAndEditEnvironment/uiSchema.tsx
  packages/components/src/schemas/createAndEditWorkspace/schema.tsx
  packages/components/src/schemas/createAndEditWorkspace/uiSchema.tsx
  packages/components/src/schemas/helmConnection/schema.tsx
  packages/components/src/schemas/helmConnection/uiSchema.tsx
  packages/components/src/schemas/helpAndSupportModal/schema.tsx
  packages/components/src/schemas/helpAndSupportModal/uiSchema.tsx
  packages/components/src/schemas/importDesign/schema.tsx
  packages/components/src/schemas/importDesign/uiSchema.tsx
  packages/components/src/schemas/importFilter/schema.tsx
  packages/components/src/schemas/importFilter/uiSchema.tsx
  packages/components/src/schemas/index.tsx
  packages/components/src/schemas/publishCatalogItem/schema.tsx
  packages/components/src/schemas/publishCatalogItem/uiSchema.tsx
Labels: component/components

#518 Figma design file link update
  .github/ISSUE_TEMPLATE/question.md
Labels: area/ci

#517 Figma design file link update
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area/ci

#514 Figma design file link update
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/ci

#515 Figma design file link update
  .github/ISSUE_TEMPLATE/ci.md
Labels: area/ci

#516 Figma design file link update
  .github/ISSUE_TEMPLATE/documentation.md
Labels: area/ci

#526 Remove unrelated info from `ISSUE_TEMPLATE` related to doc
  .github/ISSUE_TEMPLATE/documentation.md
Labels: area/ci
