Repository layer5io/sistent, pull requests merged in 2024-10, with the labels that each got.

#748 Added box shadow to Tooltip component
  src/custom/CustomTooltip/customTooltip.tsx
Labels: component/components

#756 update border color of the styled search that in cloud
  src/custom/StyledSearchBar/style.tsx
Labels: pr/on hold

#766 ci: auto bump version for meshery, extensions and cloud
  .github/workflows/bump-meshery-version.yml
Labels: area/ci

#787 Enhance WorkspaceIcon with Opacity and Fill Color Support
  src/icons/Workspace/WorkspaceIcon.tsx
Labels: area/ui, component/icons

#784 ci: remove storybook workflow
  .github/workflows/storybook-deploy.yml
Labels: area/ci
