Repository layer5io/sistent, pull requests merged in 2025-02, with the labels that each got.

#915 Create a dashboard widgets that are common in the meshery and cloud
  package-lock.json
  package.json
  src/custom/DashboardWidgets/GettingStartedWidget/ActionButtonCard.tsx
  src/custom/DashboardWidgets/GettingStartedWidget/GetStartedModal.tsx
  src/custom/DashboardWidgets/GettingStartedWidget/InviteUserModal.tsx
  src/custom/DashboardWidgets/GettingStartedWidget/JourneyModal.tsx
  src/custom/DashboardWidgets/GettingStartedWidget/ReusableModal.tsx
  src/custom/DashboardWidgets/GettingStartedWidget/TeamSearchField.tsx
  src/custom/DashboardWidgets/PlainCard.tsx
  src/custom/DashboardWidgets/RecentDesignWidget.tsx
  src/custom/DashboardWidgets/WorkspaceActivityWidget.tsx
  src/custom/DashboardWidgets/index.ts
  src/custom/DashboardWidgets/styles.tsx
  src/custom/DashboardWidgets/utils.ts
  src/custom/index.tsx
  src/icons/Check/CheckIcon.tsx
  src/icons/Check/index.ts
  src/icons/Document/DocumentIcon.tsx
  src/icons/Document/index.ts
  src/icons/Drag/DragIcon.tsx
  src/icons/Drag/index.ts
  src/icons/GetStarted/GetStartedIcon.tsx
  src/icons/GetStarted/index.ts
  src/icons/InviteUser/InviteUserIcon.tsx
  src/icons/InviteUser/index.ts
  src/icons/Open/OpenIcon.tsx
  src/icons/OpenInNew/OpenInNewIcon.tsx
  src/icons/OpenInNew/index.ts
  src/icons/index.ts
Labels: pr/do-not-merge

#917 Update node version 18 to node 20
  .github/workflows/bump-meshery-version.yml
  .github/workflows/release.yml
  examples/next-12/package-lock.json
  package-lock.json
Labels: area/ci

#923 Add missing components that are present in meshery ui and extensions
  .github/workflows/node-checks.yml
  package-lock.json
  package.json
  src/base/Alert/Alert.tsx
  src/base/Alert/index.ts
  src/base/Autocomplete/Autocomplete.tsx
  src/base/Autocomplete/index.ts
  src/base/Fab/Fab.tsx
  src/base/Fab/index.ts
  src/base/Fade/Fade.tsx
  src/base/Fade/index.ts
  src/base/Hidden/Hidden.tsx
  src/base/Hidden/index.ts
  src/base/IconButton/IconButton.tsx
  src/base/InputBase/InputBase.tsx
  src/base/InputBase/index.ts
  src/base/LinearProgress/LinearProgress.tsx
  src/base/LinearProgress/index.ts
  src/base/NativeSelect/NativeSelect.tsx
  src/base/NativeSelect/index.ts
  src/base/Radio/Radio.tsx
  src/base/Radio/index.ts
  src/base/Slider/Slider.tsx
  src/base/Slider/index.ts
  src/base/Snackbar/Snackbar.tsx
  src/base/Snackbar/index.ts
  src/base/SpeedDial/SpeedDial.tsx
  src/base/SpeedDial/index.ts
  src/base/Step/Step.tsx
  src/base/Step/index.ts
  src/base/SvgIcon/SvgIcon.tsx
  src/base/SvgIcon/index.ts
  src/base/TableBody/TableBody.tsx
  src/base/TableBody/index.tsx
  src/base/TableCell/TableCell.tsx
  src/base/TableCell/index.ts
  src/base/TableContainer/TableContainer.tsx
  src/base/TableContainer/index.ts
  src/base/TableHead/TableHead.tsx
  src/base/TableHead/index.ts
  src/base/TableRow/TableRow.tsx
  src/base/TableRow/index.tsx
  src/base/TableSortLabel/TableSortLabel.tsx
  src/base/TableSortLabel/index.ts
  src/base/Zoom/Zoom.tsx
  src/base/Zoom/index.ts
  src/base/index.tsx
  src/theme/index.tsx
Labels: area/ci

#929 feat: added new icon components
  src/icons/CaretDown/CaretDownIcon.tsx
  src/icons/CaretDown/index.ts
  src/icons/Database/DatabaseIcon.tsx
  src/icons/Database/index.ts
  src/icons/File/FileIcon.tsx
  src/icons/File/index.ts
  src/icons/Mendeley/MendeleyIcon.tsx
  src/icons/Mendeley/index.ts
  src/icons/Poll/PollIcon.tsx
  src/icons/Poll/index.ts
  src/icons/TachographDigital/TachographDigitalIcon.tsx
  src/icons/TachographDigital/index.ts
  src/icons/Tachometer/TachometerIcon.tsx
  src/icons/Tachometer/index.ts
  src/icons/index.ts
Labels: component/ui
